.card1{
    margin-bottom: 20px;
    margin-top: 60px;
    border: none !important;
   
}
.card-body1 > h5{
    font-size: 28px;
    padding-top:10px;
    padding-bottom:10px;
}
@media screen and (max-width:500px){
    .sixth{
        position: absolute;
        top: 6400px !important;
        width: 420px;
        
    }
    .card1{
        padding-bottom: 5px !important;
        margin-top: 0px !important;
       
    }
}